@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto&display=swap');

/* Global Styling */

body{
    font-family: 'Roboto', sans-serif;
}

.btn{
    text-transform: none;
    font-size: 1.2rem;
}
/* Nav Bar styling */

#searchBar form{
    margin: 1rem;
    width: 10rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.nav-wrapper .input-field input[type=search]{
    font-size:1.1rem;
    margin: 0;
    padding: .5rem;
}

.select-wrapper input.select-dropdown{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1rem;
    color: black;
    padding-left: 0.5rem;
    height: 30px;
    width: 125px;
}

#languageSelect > a {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    color: black !important;
}

#main-nav{
    height: 80px;
}

#main-nav .nav-wrapper{
    padding-top: 10px;
}

nav ul a.btn{
    margin-left: 0px;
}

nav ul a {
    font-size: 1.2rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* Nav bar Styling ends here */

/* Hero banner styling starts here */

.hero-banner{
    background: url(../img/computer.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    color: white;
    padding-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
}

/* Hero banner styling ends here */