/* Nav Bar styling */

#searchBar form{
    margin: 1rem;
    width: 10rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.nav-wrapper .input-field input[type=search]{
    font-size:1.1rem;
    margin: 0;
    padding: .5rem;
}

.select-wrapper input.select-dropdown{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1rem;
    color: black;
    padding-left: 0.5rem;
    height: 30px;
    width: 125px;
}

#languageSelect > a {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    color: black !important;
    text-transform: none;
}

#main-nav{
    height: 80px;
}

#main-nav .nav-wrapper{
    padding-top: 10px;
}

nav ul a.btn{
    margin-left: 0px;
}

/* Nav bar Styling ends here */