@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto&display=swap');

/* Global Styling */

body{
    font-family: 'Roboto', sans-serif;
}

.btn{
    text-transform: none;
    font-size: 1.2rem;
    cursor: pointer !important;
}

.ml-2{
    margin-left: 20px !important;
}

.card-panel:hover, .section-references .card:hover{
    position: relative;
    top: -5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.section-references h4, .section-newsletter h4{
    padding: 20px;
}

.section-references p, .section-newsletter p, .page-footer p{
    font-size: 18px;
}

/* Nav Bar styling */

#searchBar form{
    margin: 1rem;
    width: 8rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.nav-wrapper .input-field input[type=search]{
    font-size:1.1rem;
    margin: 0;
    padding: .5rem;
}

.select-wrapper input.select-dropdown{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1rem;
    color: black;
    padding-left: 0.5rem;
    height: 30px;
    width: 125px;
}

#languageSelect > a {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    color: black !important;
}

#main-nav{
    height: 80px;
    z-index: 10;
}

#main-nav .nav-wrapper{
    padding-top: 10px;
    
}

#main-nav img{
    height:40px;
    width: 100px;
    margin: -10px;
}
nav ul a.btn{
    margin-left: 0px;
}

nav ul a {
    font-size: 1.1rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Hero banner styling starts here */

#hero-banner .parallax-container{
    max-height: 450px;
}

.caption{
    position: absolute;
    top: 30%;
    left:0%;
    font-size: 4rem;
    letter-spacing: 2px;
    color: white;
}

.caption a {
    border-radius: 5px;
    cursor: pointer;
}

/* About section styling */

.card-panel{
    padding: 0px !important;
}

.image-overlay img{
    background-size: cover;
    background-position: center;
    height: 100%;
    width:100%;
    padding:0;
}

.image-overlay {
    position: relative;
    height: 100%;
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-overlay .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    display: block;
    background: rgba(0, 0, 0, .3);
}

.image-overlay .after h5{
    margin: 0;
    position: absolute;               
    top: 50%;      
    left: 50%;                    
    transform: translate(-50%, -50%)
}

/* About Section */
#section-about {
    margin: 50px;
}

/* Icon secton  */

.icon-container{
    max-width: 850px;
}

.material-icons{
    line-height: 1.5;
}

.section-icon{
    margin-bottom: 30px;
}
.section-icon .row{
    margin-bottom: 10px !important;
}

.section-icon h3 {
    margin: 1.46rem 0 0 0;
    font-size: 3.7rem;
}

.section-icon h5 {
    margin: 0 0 .656rem 0;
}

/* News Section */
.section-news .card{
    height: 150px;
}
.section-news h4{
    padding: 20px;
}

.section-news h5{
    font-size: 1.3rem;
    padding-bottom: .8rem;
}

.section-news{
    padding-bottom: 2rem !important;
}

/* References section */
.section-references {
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

.section-references .card{
    box-shadow: 0 0 0 0;
    border: 1px solid grey;
    border-radius: 5px;
}



.section-references .card .card-content{
    height: 250px !important;
    overflow: hidden !important;
    padding: 16px!important;
}

.section-references .card.small .card-image+.card-content{
    max-height: 100%;
}

.section-references img{
    height: 180px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    padding: 2rem;
    border-bottom: 1px solid grey;
}

.section-references .card.small {
    height: 350px;
}
/* Newsletter */

.section-newsletter input{
    border: 1px solid grey !important;
    border-radius: 5px !important;
    font-size: 18px !important;
}

.section-newsletter input::placeholder{
    padding: 1rem;
    color: grey;
}

.section-newsletter p {
    line-height: 0.5;
}

.section-newsletter .btn {
    margin-top: 15px;
    height: 45px;
    padding: 5px;
}

input[type=email]{
    padding-left: 10px !important;
    margin: 0 0 20px -10px !important;
}

/* footer */

#footer{
    padding-bottom: 100px !important;
}

#footer a.company-name{
    font-size: 20px;
}

#social-media-icons{
    display: flex;
    flex-direction: row;
}

.social-icon{
    border-radius: 50%;
    margin: .75rem;
}

.page-footer .row{
    padding-top: 20px;
    position: relative;
    line-height: 1;
}

.page-footer .contactBtn{
    position: absolute;
    bottom: 5px;
}


/* Modal styling */

#modal1 p{
    padding-top: 20px;
    font-size: 1.2rem;
}

@media only screen and (min-width: 993px){
    .container {
        width: 80%;
    }
}
@media(max-width: 600px){
    
    .section-references p, .section-newsletter p, .page-footer p{
        font-size: 16px;
    }
    .section-news{
        margin-top: -50px !important;
    }
    
    .section-newsletter .btn {
        width: 200px !important;
        margin-top: 0px;
    }
    .section-newsletter .row .col.offset-s3 {
        margin-left: 18%;
    }
    
    #footer *{
        width: 100%;
        text-align: center !important;
    }
    
    #footer .container{
        max-width: 250px;
    }
    
    .page-footer .contactBtn{
        position: static;
        margin: 25px 10px 25px 10px !important;
        
    }
}